<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noises in sleep</title>
    <style>
        title {color: white;}
    </style>
</head>
<body style="background-color: black;">
    <h1>Ready to observe your sleep?</h1>
    <a href="http://192.168.178.118:8000" class="home">
        <button>Back to Home</button>
    </a>
    <img src="../images/begin-2398766_1280.png">
   <style>
    h1 {color: white;}
   </style>
</body>
</html>