<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Road Traffic Status</title>
	<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<style>
#map {
	height: 90vh;
	width: 100%;
}



</style>
</head>
<body>
	<h1>Roads Overview</h1>

	<div id="map"></div>

  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
	<script>
		 var map = L.map('map').setView([51.505, -0.09], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

		const road_list = {{road_list | tojson | safe}};


		function color(status) {
			switch (status) {
				case "Good": 
					return "green";
				case "Serious":
					return "red";
				default:
					return "gray";
			}
		}

		road_list.forEach(function(road){
			var latlngs = road.location.map(function(coord){
				return [coord[1], coord[0]];
			});


			var polyline = L.polyline(latlngs, {color: color(road.traffic_state)}).addTo(map);

			polyline.bindPopup(road.road + " with " + road.traffic_description);
		})

	</script>

	
</body>
</html>
